<!-- Personal Blog Designed and Made by Lxn -->
<!-- index -->
<!-- Powered by Hexo and Github Pages -->
<!-- URL: https://ArLxn.xyz -->
<!-- QQ: 1762165046 -->
<!-- E-Mail: LingXuanNing@Outlook.com -->
<div class='l_main<%- page.sidebar == false ? 'no_sidebar' : '' %>'>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
