<div class="new-meta-item date" itemprop="dateUpdated" datetime="<%- moment(post.updated).format() %>">
  <a class='notlink'>
    <i class="fas fa-clock" aria-hidden="true"></i>
    <p><%- __('post.updated') + ' ' + date(post.updated, theme.updated_date_format) %></p>
  </a>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-6570924823023491"
       data-ad-slot="6758270880"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
