<section class='widget <%- item.widget?item.widget:'plain' %>'>
  <%- partial('header', {item: item, defIcon: '', defTitle: ''}) %>
  <div class='content <%= theme.style %>'>
    <p>Test</p>
  </div>
</section>
