<footer id="footer" class="clearfix">
  <% if (theme.footer) { %>
    <div class="footer">
      <p>———————————————— 喂~ 我可是有底线的！ ————————————————</p>
    </div>
    <br>
  <%}%>
  <% if (theme.social) { %>
    <div class="social-wrapper">
      <% (theme.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>"
            class="social <%- value.icon %> flat-btn"
            target="_blank"
            rel="external nofollow noopener noreferrer">
          </a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  
  <p>本站由泠泫凝制作，由<a href="https://hexo.io">Hexo</a>提供底层服务基础</p>
  <p>Copyright 2019 <a href="https://arlxn.xyz">Lxn</a>, All rights reserved.</p>
  <p>备案号：辽ICP备19013963号 | <a href="http://www.beian.miit.gov.cn">工信部备案系统</a></p>
  <p><a href="http://report.12377.cn:13225/toreportinputNormal_anis.do">互联网违法和不良信息举报中心</a></p>
  <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21011102000173" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">辽公网安备 21011102000173号</p></a>
  
  <p></p>

<script>setLoadingBarProgress(80);</script>
<span id="timeDate">正在载入运行数据（1/2）请稍后...</span><span id="times">正在载入运行数据（2/2）请稍后...</span>
<script>
    var now = new Date(); 
    function createtime() { 
        var grt= new Date("05/01/2019 17:00:00");//建站时间（月-日-年）
        now.setTime(now.getTime()+250); 
        days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
        hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
        if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
        mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
        seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
        snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
        document.getElementById("timeDate").innerHTML = "本站勉强挺过了 "+dnum+" 天 "; 
        document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
    } 
setInterval("createtime()",250);
</script>

<p></p>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1278105998'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1278105998%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script>

  <p id="footer-sponsor"><img src="https://mobicoin.ltd/cdn/pyun.png" alt="CDN Sponsor" style="height: 2em; max-height: 2em;padding-bottom: 0px;"><img src="https://mobicoin.ltd/cdn/jsd.svg" alt="CDN Sponsor" style="height: 2em; max-height: 2em;padding-bottom: 0px;"></a>
  </p>
  <p>使用<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral">【又拍云】</a>优化站点图片速度</p>
  <p>使用<a href="https://www.jsdelivr.com">jsDeliver</a>加速脚本加载</p>


</footer>
