<footer id="footer" class="clearfix">
  <% if (theme.footer) { %>
    <div class="footer">
      <p>———————————————— 喂~ 我可是有底线的！ ————————————————</p>
    </div>
    <br>
  <%}%>
  <% if (theme.social) { %>
    <div class="social-wrapper">
      <% (theme.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>"
            class="social <%- value.icon %> flat-btn"
            target="_blank"
            rel="external nofollow noopener noreferrer">
          </a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  <div><%- markdown(__('footer.license')) %></div>
  <p>本站由泠泫凝制作，由Hexo提供底层服务基础</p>
  <p>使用jsDeliver优化站点加载速度</p>
  <p>Copyright 2019 Lxn, All rights reserved.</p>
<script>setLoadingBarProgress(80);</script>
<span id="timeDate">正在载入运行数据（1/2）请稍后...</span><span id="times">正在载入运行数据（2/2）请稍后...</span>
<script>
    var now = new Date(); 
    function createtime() { 
        var grt= new Date("05/01/2019 17:00:00");//建站时间（月-日-年）
        now.setTime(now.getTime()+250); 
        days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
        hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
        if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
        mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
        seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
        snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
        document.getElementById("timeDate").innerHTML = "本站勉强挺过了 "+dnum+" 天 "; 
        document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
    } 
setInterval("createtime()",250);
</script>
</footer>
